/*coté gauche de la page, HEADER + NAVIGATION*/
header {
    text-align: right;
    background-color: darkgrey;
    color: rgb(255, 255, 255);
    padding: 5%;
    font-size: x-large;
}

.mainnav {
    text-transform: uppercase;
    font-weight: bold;
    font-size:x-large;
}

.mainnav li {
    list-style-type: none;
}

.mainnav a {
    color: rgb(255, 255, 255);
    display: flex;
    padding: 5%;
    text-decoration: none;
}

/*current pour page actuelle de la navigation*/
.current {
    background-color: rgba(0, 0, 0, 0.2);
}

.mainnav a:hover {
    background-color: rgba(133, 147, 153, 0.2);
    animation-name: onhoverfade;
    animation-duration: 0.25s;
}

@keyframes onhoverfade {
    from {background-color: rgba(0, 0, 0, 0);}
    to {background-color: rgba(133, 147, 153, 0.2);}
}


.current a:hover {
    background-color: initial;
    animation-name: none;
}

.subnav {
    font-size: large;
    background-color: rgb(32, 32, 32);
    padding-left: 50px;
}

/* pour les boutons si je fais du JS
button {
    text-transform: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: white;
    display: inherit;
    padding: 5%;
    background-color: transparent;
    border: none;
}

.subnav button:hover {
    background-color: #007bb6;
}*/

.sidebar {
    width: 25%;
    position: fixed;
    height: 100%;
    background-color: rgb(48, 47, 47);
}

/*COTÉ DROIT DE LA PAGE*/

.main-space {
    display: flex;
    justify-content: center;
    margin-left: 25%;
}

.main-box {
    text-align: center;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;

    margin: 14.25% 0% 0% 0%;
    width: 450px;
    height: 450px;
    padding: 2.5% 5% 2.5% 5%;

    color: white;
    overflow: auto;

    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgb(133, 147, 153);
    border-style: solid;
    border-width: 2px;
    box-shadow: 0px 6px 0px 0px rgb(133, 147, 153);
}

.main-box a {
    color: darkgrey;
}

/*tout*/

body {
    margin: 0%;
    background-color: rgb(31, 31, 31);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*icônes volantes*/
.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    font-size: 20px;
    right: 30px;
    bottom: 30px;
    position: absolute;

    float: right;

    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    border-color: rgb(133, 147, 153);
    border-style: solid;
    border-width: 2px;
    box-shadow: 0px 6px 0px 0px rgb(133, 147, 153);
}

.fa {
    padding: 5px 1px 2px 1px;
    width: 25px;
    height: 22px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    color: white;
  }
  
  .fa:hover {
    animation-name: onhoverscale;
    animation-duration: 0.25s;
  }

  @keyframes onhoverscale {
    from {transform: scale(0.9);}
    to {transform: scale(1.0);}
  }
  
  .fa-facebook {
    background: #3B5998;
  }
  
  .fa-twitter {
    background: #55ACEE;
  }

  .fa-linkedin {
    background: #007bb6;
  }

  .fa-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }

  .fa-github {
    background: #333;
  }

/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: 0 0 0 1px darkgrey; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: darkgrey; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: grey; 
  }

  /*pour changer le contenu de la boite si j'utilise du javascript
  .active {
    display: block;
  }

  .inactive {
    display: none;
  }*/
